/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Fondo general (azul del logo) */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2f6fb0, #1b3f75);
}

.logo {
    display: block;
    margin: 0 auto 15px;
    width: 200px;
}

/* ================= REGISTRO ================= */

/* Contenedor */
.registro {
    background: linear-gradient(135deg, #3a80c1, #2a5d9f);
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: white;
}

/* Título */
.registro h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Labels */
.registro label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Inputs */
.registro input,
.registro select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
}

/* Focus */
.registro input:focus,
.registro select:focus {
    box-shadow: 0 0 6px rgba(245, 184, 0, 0.7);
}

/* Botón amarillo */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ffd500; /* amarillo */
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

/* Hover botón */
button:hover {
    background: #e0a800;
}

/* Link blanco */
.registro a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.registro a:hover {
    text-decoration: underline;
}


/* ================= LOGIN ================= */

.login {
    background: linear-gradient(135deg, #3a80c1, #2a5d9f);
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: white;
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.login input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
}

.login input:focus {
    box-shadow: 0 0 6px rgba(255, 193, 7, 0.7);
}

/* Link blanco también */
.login a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}